.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.about-container {
  padding: 0;

  @include media(desktop) {
  }
}

.about-content-wrapper {
  padding: 0 16px;

  @include media(desktop) {
    padding: 0 120px;
  }
}

.about-subtitle {
  max-width: 313px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: max-content;
  }
}

.about-text {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #20242b;

  @include media(desktop) {
  }
}

.about-br {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.about-bg-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;

  @include media(desktop) {
    margin-top: 48px;
  }
}
