.features-section {
}

.features-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-subtitle {
  @include media(desktop) {
  }
}

.features-swiper-container {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.features-swiper-container.show {
  visibility: visible;
}

.features-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
  }
}

.features-slide {
  background: #4e6286;
  border-radius: 8px;
  padding: 24px 16px 36px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  max-width: 280px;
  min-height: 481px;

  @include media(desktop) {
    width: 100% !important;
    max-width: 200px;
    min-height: 406px;
  }
}

.features-img {
  @include media(desktop) {
  }
}

.features-item-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
  }
}

.features-item-title {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #e9f2f8;

  @include media(desktop) {
  }
}

.features-item-text {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #ccd9f1;

  @include media(desktop) {
  }
}
