.gameplay-section {
  @include media(desktop) {
    background: #1e345c;
    background-image: url(../img/gameplay/gameplay-bg-desk.png);
    background-repeat: no-repeat;
    background-position: top 67px center;
    background-size: auto;
  }
}

.gameplay-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  @include media(desktop) {
  }
}

.gameplay-subtitle {
  @include media(desktop) {
  }
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.gameplay-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    gap: 24px;
    width: 100%;
    max-width: 343px;

    &:nth-child(1) {
      max-width: 420px;
    }

    &:nth-child(2) {
      max-width: 420px;
    }
  }
}

.gameplay-img {
  box-shadow: 0 2px 4px 0 rgba(11, 7, 98, 0.6);
  border-radius: 16px;

  @include media(desktop) {
  }
}

.gameplay-item-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
  }
}

.gameplay-item-title {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #a7bcda;

  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fafafa;

  @include media(desktop) {
  }
}
