.policy-section {
  background: #e9f2f8;
  padding-top: 104px;
  padding-bottom: 40px;

  @include media(desktop) {
    padding-top: 136px;
    padding-bottom: 48px;
  }
}

.policy-section h1 {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #434952;
  margin-bottom: 64px;

  @include media(desktop) {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 80px;
  }
}

.policy-section h2 {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #434952;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section h3 {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #434952;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section h4 {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #434952;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section p {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #20242b;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section li {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #20242b;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  word-break: break-all;

  @include media(desktop) {
  }
}

.policy-section span {
  @include media(desktop) {
  }
}
