.testimonials-section {
  @include media(desktop) {
  }
}

.testimonials-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 312px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/testimonials/testimonials-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-bottom: 456px;
    max-width: 1440px;
    background-image: url(../img/testimonials/testimonials-bg-desk.png);
  }
}

.testimonials-container {
  @include media(desktop) {
  }
}

.testimonials-content-wrapper {
  @include media(desktop) {
  }
}

.testimonials-subtitle {
  @include media(desktop) {
  }
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 8px 32px;
    max-width: 1063px;
    margin-left: auto;
    margin-right: auto;
  }
}

.testimonials-slide {
  background: #e9f2f8;
  border: 1px solid #4e6286;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    width: 100%;
    max-width: 333px;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 3;
    }

    &:nth-child(5) {
      order: 5;
    }
  }
}

.testimonials-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.testimonials-item-name {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #434952;

  @include media(desktop) {
  }
}

.testimonials-item-text {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #20242b;

  @include media(desktop) {
  }
}
