<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <svg class="star-icon" width="23" height="24">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      <h2 class="section-title about-title">About the Game</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <p class="section-subtitle about-subtitle">Small hero. Big adventure.</p>
      <div class="about-content-wrapper">
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="514"
            height="255" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="182" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="182"
            loading="lazy"
        /></picture>
        <p class="about-text">
          In Super Pug Story, you play as this adorable little pug who's gotta
          run and jump through all these crazy levels - some are pretty
          tricky!<br />
          It's all about getting your timing right and exploring around, but
          don't worry - it keeps things fun and not too serious.<br />
          As you go further, the levels throw more stuff at you - new enemies,
          trickier jumps, that sort of thing.
        </p>
      </div>
    </div>
  </div>
</section>
