<section class="section contact-section" id="contact">
  <div class="contact-section-wrapper">
    <div class="section-title-wrapper contact-title-wrapper">
      <div class="container section-title-container">
        <svg class="star-icon" width="23" height="24">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        <h2 class="section-title contact-title">Contact</h2>
      </div>
    </div>
    <div class="contact-bg-wrapper">
      <div class="container contact-container">
        <div class="contact-content-wrapper">
          <p class="section-subtitle contact-subtitle">
            We’re here for feedback
          </p>
          <a href="mailto:info@brightcoveanchor.com" class="contact-email-link">
            <svg class="email-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-email"></use></svg
            ><span>info@brightcoveanchor.com</span></a
          >
        </div>
        <picture>
          <source
            srcset="./img/contact/contact-bg-desk.jpg"
            media="(min-width: 1440px)"
            width="1440"
            height="810" />
          <source
            srcset="./img/contact/contact-bg-mob.jpg"
            width="375"
            height="230" />
          <img
            class="contact-bg-img"
            src="./img/contact/contact-bg-mob.jpg"
            alt="Screenshot of the game"
            width="375"
            height="230"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
