<section class="section faq-section" id="faq">
  <div class="section-title-wrapper faq-title-wrapper">
    <div class="container section-title-container">
      <svg class="star-icon" width="23" height="24">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      <h2 class="section-title faq-title">FAQ</h2>
    </div>
  </div>
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <p class="section-subtitle faq-subtitle">Quick answers</p>
      <ul class="faq-list">
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is the game hard to learn?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">No, controls are very simple.</p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Does difficulty increase?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yes, later levels are more challenging.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is it suitable for casual players?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yes, it is designed for quick sessions.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are there different levels?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">Yes, each level has unique layouts.</p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I replay levels?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">Yes, to improve performance.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
