<section class="features-section section" id="features">
  <div class="section-title-wrapper features-title-wrapper">
    <div class="container section-title-container">
      <svg class="star-icon" width="23" height="24">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      <h2 class="section-title features-title">Features</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <p class="section-subtitle features-subtitle">
          Simple, smooth, and engaging
        </p>
        <ul class="features-list">
          <li class="features-slide">
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Classic Platform Gameplay</p>
              <p class="features-item-text">
                Easy to understand mechanics with responsive controls.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Progressive Difficulty</p>
              <p class="features-item-text">
                Levels become more challenging over time – you never get bored.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Colorful Environments</p>
              <p class="features-item-text">
                Bright visuals and readable level design create joyful
                experience.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Fast Restart System</p>
              <p class="features-item-text">
                Quick retry keeps gameplay smooth and easyflowing.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Lightweight Experience</p>
              <p class="features-item-text">
                Perfect whether you've got 5 minutes or an hour or a couple to
                kill.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/features/features-bg-desk.jpg"
          media="(min-width: 1440px)"
          width="1440"
          height="715" />
        <source
          srcset="./img/features/features-bg-mob.jpg"
          width="375"
          height="212" />
        <img
          class="features-bg-img"
          src="./img/features/features-bg-mob.jpg"
          alt="Screenshot of the game"
          width="375"
          height="212"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
