<section class="section gameplay-section" id="gameplay">
  <div class="section-title-wrapper gameplay-title-wrapper">
    <div class="container section-title-container">
      <svg class="star-icon" width="23" height="24">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      <h2 class="section-title gameplay-title">How To Play</h2>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <p class="section-subtitle gameplay-subtitle">Run, jump, survive</p>
        <ul class="gameplay-list">
          <li class="gameplay-slide">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img1-desk.png"
                media="(min-width: 1440px)"
                width="420"
                height="160" />
              <source
                srcset="./img/gameplay/gameplay-img1-mob.png"
                width="343"
                height="133" />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img1-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="133"
                loading="lazy"
            /></picture>
            <div class="gameplay-item-text-wrapper">
              <p class="gameplay-item-title">Start Running</p>
              <p class="gameplay-item-text">
                Move forward automatically through each level.
              </p>
            </div>
          </li>
          <li class="gameplay-slide">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img2-desk.png"
                media="(min-width: 1440px)"
                width="420"
                height="160" />
              <source
                srcset="./img/gameplay/gameplay-img2-mob.png"
                width="343"
                height="133" />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img2-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="133"
                loading="lazy"
            /></picture>
            <div class="gameplay-item-text-wrapper">
              <p class="gameplay-item-title">Jump Over Obstacles</p>
              <p class="gameplay-item-text">
                Tap at the right moment to avoid hazards and gaps.
              </p>
            </div>
          </li>
          <li class="gameplay-slide">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img3-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="133"
              loading="lazy"
            />
            <div class="gameplay-item-text-wrapper">
              <p class="gameplay-item-title">Defeat or Avoid Enemies</p>
              <p class="gameplay-item-text">Time your movement to stay safe.</p>
            </div>
          </li>
          <li class="gameplay-slide">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img4-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="133"
              loading="lazy"
            />
            <div class="gameplay-item-text-wrapper">
              <p class="gameplay-item-title">Collect Items</p>
              <p class="gameplay-item-text">
                Gather coins and bonuses along the way.
              </p>
            </div>
          </li>
          <li class="gameplay-slide">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img5-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="133"
              loading="lazy"
            />
            <div class="gameplay-item-text-wrapper">
              <p class="gameplay-item-title">Reach the Goal</p>
              <p class="gameplay-item-text">
                Complete the level by arriving at the finish line.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
