<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">
            Ready to see what this pug can really do?
          </h1>
          <p class="hero-subtitle">
            Don't let his size fool you — this pug means business. Every level
            is a new adventure.
          </p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.bluembo.superpug&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            ><svg class="playstore-icon" width="164" height="40">
              <use href="./img/sprite.svg#icon-playstore"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
