<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">
            Suck It Up -<br class="hero-title-br" />
            Hole Them All
          </h1>
          <p class="hero-subtitle">Consume Everything!</p>
          <p class="hero-text">
            Everything disappears eventually.<br />
            The bigger the hole gets, the crazier it becomes.
          </p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=dk.tactile.holegame&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            ><svg class="playstore-icon" width="164" height="40">
              <use href="./img/sprite.svg#icon-playstore"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
