<section class="policy-section">
  <div class="container policy-container">
    <h1>Privacy Policy</h1>

    <p>
      This Privacy Policy governs the manner in which
      <span class="name">Suck It Up - Hole Them All</span> collects, uses,
      maintains and discloses information collected from users (each, a "User")
      of the <span class="app-domain">schemenode.site</span> website ("Site").
      This privacy policy applies to the Site and all products and services
      offered by <span class="name">Suck It Up - Hole Them All</span>.
    </p>

    <h3>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</h3>
    <p>
      When you purchase something from our store, as part of the buying and
      selling process, we collect the personal information you give us such as
      your name, address and email address.
    </p>
    <p>
      When you browse our store, we also automatically receive your computer’s
      internet protocol (IP) address in order to provide us with information
      that helps us learn about your browser and operating system.
    </p>
    <p>
      Email marketing (if applicable): With your permission, we may send you
      emails about our store, new products and other updates.
    </p>

    <h3>SECTION 2 - CONSENT</h3>
    <p>How do you get my consent?</p>
    <p>
      When you provide us with personal information to complete a transaction,
      verify your credit card, place an order, arrange for a delivery or return
      a purchase, we imply that you consent to our collecting it and using it
      for that specific reason only.
    </p>
    <p>
      If we ask for your personal information for a secondary reason, like
      marketing, we will either ask you directly for your expressed consent, or
      provide you with an opportunity to say no.
    </p>
    <p>How do I withdraw my consent?</p>
    <p>
      If after you opt-in, you change your mind, you may withdraw your consent
      for us to contact you, for the continued collection, use or disclosure of
      your information, at anytime, by contacting us at info [at]
      cloudboostlab.site.
    </p>

    <h3>SECTION 3 - DISCLOSURE</h3>
    <p>
      We may disclose your personal information if we are required by law to do
      so or if you violate our Terms of Service.
    </p>

    <h3>SECTION 4 - THIRD-PARTY SERVICES</h3>
    <p>
      In general, the third-party providers used by us will only collect, use
      and disclose your information to the extent necessary to allow them to
      perform the services they provide to us.
    </p>
    <p>
      However, certain third-party service providers, such as payment gateways
      and other payment transaction processors, have their own privacy policies
      in respect to the information we are required to provide to them for your
      purchase-related transactions.
    </p>
    <p>
      For these providers, we recommend that you read their privacy policies so
      you can understand the manner in which your personal information will be
      handled by these providers.
    </p>
    <p>
      In particular, remember that certain providers may be located in or have
      facilities that are located a different jurisdiction than either you or
      us. So if you elect to proceed with a transaction that involves the
      services of a third-party service provider, then your information may
      become subject to the laws of the jurisdiction(s) in which that service
      provider or its facilities are located.
    </p>
    <p>
      Once you leave our store’s website or are redirected to a third-party
      website or application, you are no longer governed by this Privacy Policy
      or our website’s Terms of Service.
    </p>
    <p>
      Links: When you click on links on our store, they may direct you away from
      our site. We are not responsible for the privacy practices of other sites
      and encourage you to read their privacy statements.
    </p>
    <p>
      Google analytics:Our store may use Google Analytics to help us learn about
      who visits our site and what pages are being looked at.
    </p>
    <p><b>Sharing your personal information</b></p>
    <p>
      We do not sell, trade, or rent Users personal identification information
      to others. We may share generic aggregated demographic information not
      linked to any personal identification information regarding visitors and
      users with our business partners, trusted affiliates and advertisers for
      the purposes outlined above.We may use third party service providers to
      help us operate our business and the Site or administer activities on our
      behalf, such as sending out newsletters or surveys. We may share your
      information with these third parties for those limited purposes provided
      that you have given us your permission.
    </p>

    <h3>SECTION 5 – COOKIES</h3>
    <p>
      Our Site may use "cookies" to enhance User experience. User's web browser
      places cookies on their hard drive for record-keeping purposes and
      sometimes to track information about them. User may choose to set their
      web browser to refuse cookies, or to alert you when cookies are being
      sent. If they do so, note that some parts of the Site may not function
      properly.
    </p>
    <p>Here is a list of cookies that we use:</p>
    <p>
      - <b>_session_id, unique token, sessional</b>: These are used to allow our
      system to store information about your session (referrer, landing page,
      etc).
    </p>

    <p>
      This website uses <b>Google Analytics</b>, a web analytics service
      provided by Google, Inc. ("Google"). Google Analytics uses "cookies",
      which are text files placed on your computer, to help the website analyze
      how users use the site. The information generated by the cookie about your
      use of the website (including your IP address) will be transmitted to and
      stored by Google on servers in the United States. Google will use this
      information for the purpose of evaluating your use of the website,
      compiling reports on website activity for website operators and providing
      other services relating to Website activity and internet usage. Google may
      also transfer this information to third parties where required to do so by
      law, or where such third parties process the information on Google's
      behalf. Google will not associate your IP address with any other data held
      by Google. You may refuse the use of cookies by selecting the appropriate
      settings on your browser, however please note that if you do this you may
      not be able to use the full functionality of this website. By using this
      website, you consent to the processing of data about you by Google in the
      manner and for the purposes set out above.
    </p>

    <h3>SECTION 6 - AGE OF CONSENT</h3>
    <p>
      By using this site, you represent that you are at least the age of
      majority in your state or province of residence, or that you are the age
      of majority in your state or province of residence and you have given us
      your consent to allow any of your minor dependants to use this site.
    </p>
    <p>
      The website complies with the Children's Online Privacy Protection Act
      ("COPPA"). <span class="name">Suck It Up - Hole Them All</span> does not
      knowingly collect personal information from children under the age of 13
      through the Service.
    </p>
    <p>
      If we receive notice that we have collected information from a child under
      the age of 13, we will make commercially reasonable efforts to delete such
      information. Simply contact us by emailing at
      <span class="domain">info@schemenode.site</span>.
    </p>

    <h3>SECTION 7 - CHANGES TO THIS PRIVACY POLICY</h3>
    <p>
      We reserve the right to modify this privacy policy at any time, so please
      review it frequently. Changes and clarifications will take effect
      immediately upon their posting on the website. If we make material changes
      to this policy, we will notify you here that it has been updated, so that
      you are aware of what information we collect, how we use it, and under
      what circumstances, if any, we use and/or disclose it.
    </p>
    <p>
      If our store is acquired or merged with another company, your information
      may be transferred to the new owners so that we may continue to sell
      products to you.
    </p>

    <h3>QUESTIONS AND CONTACT INFORMATION</h3>
    <p>
      If you would like to: access, correct, amend or delete any personal
      information we have about you, register a complaint, or simply want more
      information, contact us <span class="domain">info@schemenode.site</span>.
    </p>
  </div>
</section>
