<section class="testimonials-section section" id="testimonials">
  <div class="section-title-wrapper testimonials-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title testimonials-title">Reviews</h2>
    </div>
  </div>
  <div class="testimonials-bg-wrapper">
    <div class="container testimonials-container">
      <div class="testimonials-content-wrapper">
        <p class="section-subtitle testimonials-subtitle">
          What players are saying
        </p>
        <ul class="testimonials-list">
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Paula H.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-4-stars.png"
                alt="Rating"
                width="48"
                height="12"
              />
            </div>
            <p class="testimonials-item-text">
              “The destruction effects are weirdly relaxing.”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Alex G.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-5-stars.png"
                alt="Rating"
                width="60"
                height="12"
              />
            </div>
            <p class="testimonials-item-text">
              “Such a basic concept but I can't put it down”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">William L.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-5-stars.png"
                alt="Rating"
                width="60"
                height="12"
              />
            </div>
            <p class="testimonials-item-text">
              “Way too addictive - I was supposed to play for 5 minutes and
              ended up losing an hour lol”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Mia L.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-4-stars.png"
                alt="Rating"
                width="48"
                height="12"
              />
            </div>
            <p class="testimonials-item-text">
              “Perfect game for short breaks.”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Liam R.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-5-stars.png"
                alt="Rating"
                width="60"
                height="12"
              />
            </div>
            <p class="testimonials-item-text">
              “Watching everything disappear never gets old.”
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
