<section class="testimonials-section section" id="testimonials">
  <div class="section-title-wrapper testimonials-title-wrapper">
    <div class="container section-title-container">
      <svg class="star-icon" width="23" height="24">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      <h2 class="section-title testimonials-title">Reviews</h2>
    </div>
  </div>
  <div class="testimonials-bg-wrapper">
    <div class="container testimonials-container">
      <div class="testimonials-content-wrapper">
        <p class="section-subtitle testimonials-subtitle">
          From board to collection
        </p>
        <ul class="testimonials-list">
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Anna L.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-5-stars.png"
                alt="Rating"
                width="80"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">
              “The controls are super responsive - I actually had a blast
              playing this thing!”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Leo K.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-4-stars.png"
                alt="Rating"
                width="64"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">
              “Cute character and easily involving full of fun gameplay.”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Martin W.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-5-stars.png"
                alt="Rating"
                width="80"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">
              “The level design is actually pretty clever - kept me engaged the
              whole time, didn't feel repetitive.”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Miley P.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-4-stars.png"
                alt="Rating"
                width="64"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">
              “Great visuals and relaxing gameplay. Good casual platform game.”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Natasha M.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-5-stars.png"
                alt="Rating"
                width="80"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">
              “There's always something new to unlock. Simple but very
              addictive.”
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
